{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <div class="blog-post">
            <h2 class="blog-post-title text-center"><a class="color-black" href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>

            {% if post.published_date %}
                <p class="blog-post-meta text-center">{{ post.published_date }} by {{ post.author }}</a></p>
                <div class="blog-margin-bottom">
            {% else %}
                <div class="blog-margin-top blog-margin-bottom">
                    <a class="btn btn-default" href="{% url 'post_publish' slug=post.slug %}" data-toggle="tooltip" title="Publish post"><span class="glyphicon glyphicon-saved"></span></a>
            {% endif %}
                    <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}" data-toggle="tooltip" title="Edit post"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" id="remove_post" data-toggle="tooltip" title="Remove post"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            <p>{{ post.body|linebreaks }}</p>
            <hr>
            {% for tag in post.tags.all %}
                <a class="btn btn-default" href="{% url 'post_tag' slug=tag %}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>

    <div id="remove_post_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-center">are you sure you want to delete this post?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <a class="btn btn-default" href="{% url 'post_delete' slug=post.slug %}">Yes</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <button type="button" id="cancel_remove_post" class="btn btn-default" >No</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_xtra %}

        $('[data-toggle="tooltip"]').tooltip();

        $('body').on('click', '#remove_post', function(event) {
            $("#remove_post_modal").modal();
        });

        $('body').on('click', '#cancel_remove_post', function(event) {
            $('#remove_post_modal').modal('hide')
        });

{% endblock %}
